<template>
  <div class="soil-moisture-display">
    <h3>Humidity</h3>
    <div>{{ humidity }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class HumidityDisplay extends Vue {
  @Prop(Number) readonly humidity: number | undefined;
}
</script>
