<template>
  <div class="soil-moisture-display">
    <h3>Soil Moisture</h3>
    <div>{{ moisture }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class SoilMoistureDisplay extends Vue {
  @Prop(Number) readonly moisture: number | undefined;
}
</script>
