<template>
  <div class="temp-display">
    <h3>Temperature</h3>
    <div>{{ temperature }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class TemperatureDisplay extends Vue {
  @Prop(Number) readonly temperature: number | undefined;
}
</script>
