<template>
  <div id="app">
    <h1 id="main-title">
      <router-link to="/">Plant Monitor</router-link>
    </h1>
    <router-view />
  </div>
</template>

<style lang="stylus">
html, body
  margin 0
  padding 0

#app
  font-family Avenir, Helvetica, Arial, sans-serif

#main-title
  font-size 28pt
  background-color #373
  color #fff
  padding 5px
  margin 0

a
  text-decoration none 
  color inherit
</style>
