<template>
  <div class="container">
    <soil-moisture-display />
    <temperature-display />
    <humidity-display />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SoilMoistureDisplay from '../components/SoilMoistureDisplay.vue';
import TemperatureDisplay from '../components/TemperatureDisplay.vue';
import HumidityDisplay from '../components/HumidityDisplay.vue';

@Component({
  components: {
    SoilMoistureDisplay,
    TemperatureDisplay,
    HumidityDisplay,
  },
})
export default class Home extends Vue {}
</script>

<style lang="stylus" scoped>
.container
  padding 0 5px
</style>
